<form class="example-form">
 

  
    <div>
       <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput>
        </mat-form-field>
   
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Usuario</mat-label>
            <input matInput>
        </mat-form-field>
   
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Contraseña</mat-label>
            <input matInput>
        </mat-form-field>
   
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Cód. Sucursal</mat-label>
            <input matInput>
        </mat-form-field>
       </div>

    <button mat-raised-button color="primary" >Actualizar</button>


  </form>
  